:root {
  --main-font-family: 'Raleway';
  --main-text-font-weight: 500;
  --main-text-color: #2C2D35;
  --main-text-font-size: 18px;
  --logo-font-weight: 700;
  --logo-font-size: 20px;
  --menu-font-size: 20px;
  --title-font-size: 60px;
  --button-font-size: 20px;
  --subtitle-font-size: 40px;
  --card-title-font-size: 30px;
  --price-font-size: 24px;
}

/* @media (width <= 768px) {
  :root {

  }
}

@media (width <= 576px) {
  :root {

  }
}

@media (width <= 375px) {
  :root {

  }
} */
